<div>
  <center>
    <h1>
      It's a trap!
    </h1>
    <h3>
      It's a joke test. If Hogwards were programming institution you were...
    </h3>
    <%= link_to 'Find out', quizzes_path(quizz: @quizz), method: :post %>
  </center>
</div>
