<table align="center">
  <tr>
    <td align="center" colspan="2">
      <%= 'image_tag @question.topic_url' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to 'image_tag(@question.answer(@answ1))', quiz_answers_path(quiz: @quiz, answer: @answ1), method: :post %></td>
    <td>
      <%= link_to 'image_tag(@question.answer(@answ2))', quiz_answers_path(quiz: @quiz, answer: @answ2), method: :post %></td>
  </tr>
</table>
